<div class="welcome-container">
    <div class="overlay">
      <h1>Bienvenido a Nuestra Clínica</h1>
      <p>Por favor, inicia sesión o regístrate para continuar.</p>
      <div class="button-group">
        <p-button
          label="Iniciar Sesión"
          icon="pi pi-sign-in"
          styleClass="custom-black-button"
          (onClick)="navigateToLogin()"
        ></p-button>
        <p-button
          label="Registrarse"
          icon="pi pi-user-plus"
          styleClass="custom-black-button"
          (onClick)="navigateToRegister()"
        ></p-button>
      </div>
    </div>
  </div>
  