<div class="container">
  <div class="h-full card flex align-items-center justify-content-center">
    <div
      class="w-8 flex flex-wrap px-5 py-5 gap-2 surface-ground border-round justify-content-center content"
      style="background-color: #333"
    >
      <!-- Step 0: Patient Selection (For admin/staff users) -->
      <ng-container *ngIf="!selectedPaciente">
        <h2 class="title">Seleccionar paciente</h2>
        <p-table
          [value]="users"
          [styleClass]="'small'"
          [tableStyle]="{ 'min-width': '50rem', overflow: 'auto' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Foto</th>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Edad</th>
              <th>Email</th>
              <th>Obra Social</th>
              <th>Foto 2</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr (click)="selectPaciente(user)" style="cursor: pointer">
              <td>
                <img
                  [src]="user.imagenPerfil"
                  alt="foto-perfil"
                  style="aspect-ratio: 4/4; width: 40px"
                />
              </td>
              <td>{{ user.nombre }}</td>
              <td>{{ user.dni }}</td>
              <td>{{ user.edad }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.obraSocial }}</td>
              <td>
                <img
                  [src]="user.imagenPerfilAux"
                  alt="foto-perfil-aux"
                  style="aspect-ratio: 4/4; width: 40px"
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>

      <!-- If patient is selected, proceed with the steps to schedule a turn -->
      <ng-container *ngIf="selectedPaciente">
        <!-- Step 1: Select Especialidad -->
        <ng-container *ngIf="!selectedEspecialidad">
          <h2 class="title">Seleccionar Especialidad</h2>
          <div class="specialities-grid">
            <button
              *ngFor="let speciality of specialities"
              class="speciality-button"
              (click)="selectEspecialidad(speciality)"
            >
              <img
                [src]="'assets/' + speciality + '.png'"
                alt="Imagen de especialidad"
                onerror="this.src='assets/default-specialty.png';"
                class="speciality-image"
              />
              <p class="speciality-name">{{ speciality }}</p>
            </button>
          </div>
        </ng-container>

        <!-- Step 2: Select Especialista -->
        <ng-container *ngIf="selectedEspecialidad && !selectedEspecialista">
          <h2 class="title">
            Seleccionar Profesional para {{ selectedEspecialidad }}
          </h2>
          <div class="professionals-grid">
            <button
              *ngFor="
                let especialista of getFilteredEspecialistasByEspecialidad()
              "
              class="professional-button"
              (click)="selectEspecialista(especialista)"
            >
              <img
                [src]="especialista.imagenPerfil"
                alt="Imagen perfil especialista"
                class="professional-image"
              />
              <p class="professional-name">
                {{ especialista.nombre }} {{ especialista.apellido }}
              </p>
            </button>
          </div>
        </ng-container>

        <!-- Step 3: Select Day -->
        <ng-container
          *ngIf="selectedEspecialista && !selectedDay && fechasEspecialista"
        >
          <h2 class="title">
            Seleccionar Día Disponible para {{ selectedEspecialista.nombre }}
            {{ selectedEspecialista.apellido }}
          </h2>
          <div class="days-grid">
            <ng-container *ngFor="let day of workingDays">
              <button
                *ngFor="let dayDate of fechasEspecialista[day]?.fechas"
                class="day-button"
                (click)="selectDay(dayDate)"
              >
                {{ getFormattedDate(dayDate) }}
              </button>
            </ng-container>
          </div>
        </ng-container>

        <!-- Step 4: Select Horario -->
        <ng-container *ngIf="selectedDay">
          <h2 class="title">
            Seleccionar Horario para {{ getFormattedDate(selectedDay) }}
          </h2>
          <div class="horarios-grid">
            <button
              *ngFor="let horario of getAvailableHorarios()"
              [disabled]="getRemainingTurn(horario, selectedDay) <= 0"
              class="horario-button"
              (click)="solicitarTurno(horario)"
            >
              {{ formatHorario(horario) }}
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
