/* CSS */

.container {
  position: relative;
  background-image: url("../../../assets/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden; /* Para asegurarse de que el overlay cubra todo */
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Cambia el valor de 0.5 para ajustar la oscuridad */
  z-index: 1;
}

.card {
  position: relative;
  z-index: 2; /* Coloca el contenido encima del overlay */
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

.especialista-card {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.especialista-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.especialista-card p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
}

.especialista-card hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0.5rem 0;
}
