/* General container styling */
.container {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../assets/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.card {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title styling */
.title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1.5rem; /* Espacio debajo del título */
}

/* Step 1: Specialities */
.specialities-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.speciality-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4778ff;
  border: none;
  border-radius: 50%;
  padding: 1.5rem;
  width: 120px;
  height: 120px;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

.speciality-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.speciality-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.speciality-name {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}

/* Step 2: Professionals */
.professionals-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.professional-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4778ff;
  border: none;
  border-radius: 50%;
  padding: 1.5rem;
  width: 120px;
  height: 120px;
  cursor: pointer;
  color: #fff;
  text-align: center;
}

.professional-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.professional-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.professional-name {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}

/* Step 3: Days */
.days-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 1rem;
  width: 100%;
}

.day-button {
  background-color: #4778ff;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}

.day-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Step 4: Horarios */
.horarios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 2rem;
  width: 100%;
}

.horario-button {
  background-color: #4778ff;
  border: none;
  border-radius: 8px;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.horario-button:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.horario-seleccionado {
  background-color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}

.horario-seleccionado {
  background-color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}

.message {
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 8px;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
}
