<div class="welcome-container">
  <div class="overlay">
    <div class="card card-gradient" @scaleUp>
      <div class="card-content">
        <!-- Título del registro -->
        <h2 class="register-title">Registro</h2>

        <!-- Loader -->
        <div
          *ngIf="loaderState.loading"
          class="flex justify-content-center align-content-center py-5 px-5"
        >
          <app-loader [state]="loaderState.state"></app-loader>
        </div>

        <!-- Contenido del registro -->
        <div *ngIf="!loaderState.loading">
          <div *ngIf="role">
            <!-- Mostrar el formulario correspondiente -->
            <div class="flex flex-column">
              <div class="flex justify-content-center error">
                {{ errorMessage }}
              </div>
              <div *ngIf="role === 'paciente'">
                <app-form-register-paciente
                  (onRegister)="onRegister($event)"
                ></app-form-register-paciente>
              </div>
              <div *ngIf="role === 'especialista'">
                <app-form-register-especialista
                  (onRegister)="onRegister($event)"
                ></app-form-register-especialista>
              </div>
              <div *ngIf="role === 'admin'">
                <app-form-register-admin
                  (onRegister)="onRegister($event)"
                ></app-form-register-admin>
              </div>
            </div>
          </div>
          <div *ngIf="!role">
            <!-- Mostrar las imágenes de paciente y especialista -->
            <div class="w-full flex justify-content-center">
              <h2>Selecciona tu Rol</h2>
            </div>
            <div class="role-buttons-container">
              <div>
                <img
                  (click)="selectRole('paciente')"
                  class="role-button"
                  src="assets/register/paciente.jpg"
                  alt="paciente"
                />
                <div
                  class="flex w-full justify-content-center align-content-center"
                >
                  <p>Paciente</p>
                </div>
              </div>
              <div>
                <img
                  (click)="selectRole('especialista')"
                  class="role-button"
                  src="assets/register/especialista.jpg"
                  alt="especialista"
                />
                <div
                  class="flex w-full justify-content-center align-content-center"
                >
                  <p>Especialista</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Separador con texto personalizado -->
        <div class="custom-divider">
          ¿Ya tenés cuenta?
          <a (click)="onLoginClick()">Ingresar</a>
        </div>
      </div>
    </div>
  </div>
</div>
