<div class="container" [@fadeInAnimation]>
  <div class="cards-container">
    <div
      class="card"
      *ngFor="let paciente of pacientes"
      (click)="verHistoriaClinica(paciente)"
    >
      <img [src]="paciente.imagenPerfil" alt="foto-perfil" class="card-image" />
      <div class="card-content">
        <h3>{{ paciente.nombre }}</h3>
        <p><strong>DNI:</strong> {{ paciente.dni }}</p>
        <p><strong>Email:</strong> {{ paciente.email }}</p>
        <p><strong>Obra Social:</strong> {{ paciente.obraSocial }}</p>
        <p><strong>Últimos Turnos:</strong></p>
        <ul>
          <li *ngFor="let turno of getUltimosTurnos(paciente)">
            {{ turno.fecha | date : "short" }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <p-dialog
    header="Historia Clínica"
    [modal]="true"
    [(visible)]="visibleHistoria"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    <app-ver-historia-clinica
      *ngIf="visibleHistoria"
      [paciente]="pacienteSeleccionado"
    ></app-ver-historia-clinica>
  </p-dialog>
</div>
