@import "primeicons/primeicons.css";

:host {
  text-align: center;
  margin-top: 0;
  background: linear-gradient(to bottom, grey, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.error {
  color: rgb(255, 99, 71);
}

.hidden {
  display: none !important;
}
