<div class="h-full card flex align-items-center justify-content-center">
    <div class="w-5 flex flex-column px-5 py-5 surface-ground align-items-center justify-content-center gap-2 border-round">
        <p>Para acceder a este lugar debes verificar el email</p>
        <p>Hemos enviado un link a tu email para validar que es tuyo</p>
        <div class="flex flex-wrap gap-2 align-items-center justify-content-center">
            <p-button (onClick)="send()" label="Reenviar" icon="pi pi-bell" iconPos="left" />
            <p-button (onClick)="continue()" label="Continuar" icon="pi pi-check" iconPos="right" />
        </div>
    </div>
</div>