* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
.h-screen {
  height: 100%;
}

.container {
  position: relative;
  /* Superponemos un gradiente oscuro sobre la imagen de fondo */
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../../../assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
}

.container.centered {
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.card {
  position: relative;
  z-index: 2; /* Coloca el contenido encima del overlay */
  width: 100%;
  max-width: 910px;
  background: linear-gradient(to bottom right, #4e4e4e, #a5a5a5);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
}

.header,
.sub-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.header p-tabMenu,
.sub-header p-tabMenu {
  width: 100%;
}

.form-container,
.table-container {
  width: 100%;
}

img {
  border-radius: 50%;
}

/* Styles for the user list */
.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.user-item {
  position: relative;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.user-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.user-name {
  display: block;
  margin-top: 5px;
  color: #fff;
}

/* Favorite button styles */
.favorite-button {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #ffd700;
}

.favorite {
  color: #ffd700;
}
