<div class="container" [@slideInRightAnimation]>
  <div class="w-full flex align-items-center justify-content-center">
    <div
      class="w-10 px-5 py-5 border-round-right-lg shadow-7 "
      style="height: 80%"
    >
      <div class="flex align-items-center justify-content-center">
        <p-tabMenu
          [activeItem]="action"
          [model]="itemsAction"
          (activeItemChange)="onActionChange($event)"
        />
      </div>
      <div
        class="flex align-items-center justify-content-center my-1 primary-300"
      >
        <p-tabMenu
          [activeItem]="role"
          [model]="itemsRole"
          (activeItemChange)="onRoleChange($event)"
        />
      </div>
      <div class="flex justify-content-center">
        @if(action.label == "Crear") {
        <div class="w-5">
          @if(role.label == 'paciente') {
          <app-form-register-paciente
            (onRegister)="onRegister($event)"
          ></app-form-register-paciente>
          } @else if (role.label == 'especialista') {
          <app-form-register-especialista
            (onRegister)="onRegister($event)"
          ></app-form-register-especialista>
          } @else {
          <app-form-register-admin
            (onRegister)="onRegister($event)"
          ></app-form-register-admin>
          }
        </div>
        } @else {
        <div class="w-full">
          <p-table
            [tableStyle]="{ overflow: 'auto' }"
            [styleClass]="'small'"
            [value]="users"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Edad</th>
                <th>Email</th>
                @if(role.label == 'especialista') {
                <th>Especialidades</th>
                <th>Habilitar</th>
                } @if(role.label == 'paciente') {
                <th>Obra Social</th>
                <th>Foto 2</th>
                <th>Historia Clinica</th>
                }
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>
                  <img
                    [src]="user.imagenPerfil"
                    alt="foto-perfil"
                    style="aspect-ratio: 4/4; width: 40px"
                  />
                </td>

                <td>{{ user.nombre }}</td>
                <td>{{ user.dni }}</td>
                <td>{{ user.edad }}</td>
                <td>{{ user.email }}</td>
                @if(user.role == 'especialista') {
                <td>{{ user.especialidades }}</td>
                <td>
                  @if (user.estaHabilitado) {
                  <p-button
                    styleClass="w-full"
                    (onClick)="deshabilitar(user)"
                    label="Deshabilitar"
                    icon="pi pi-arrow-down"
                    iconPos="right"
                    severity="danger"
                  />
                  } @else {
                  <p-button
                    styleClass="w-full"
                    (onClick)="habilitar(user)"
                    label="Habilitar"
                    icon="pi pi-check"
                    iconPos="right"
                    severity="success"
                  />
                  }
                </td>
                } @if(user.role == 'paciente') {
                <td>{{ user.obraSocial }}</td>
                <td>
                  <img
                    [src]="user.imagenPerfilAux"
                    alt="foto-perfil-aux"
                    style="aspect-ratio: 4/4; width: 40px"
                  />
                </td>
                <td>
                  <p-button
                    (onClick)="verHistoriaClinica(user)"
                    icon="pi pi-clock"
                    label="Historia Clinica"
                  ></p-button>
                </td>
                }
              </tr>
            </ng-template>
          </p-table>
          @if(role.label == 'paciente') {
          <div class="flex w-12 py-3 align-items-center justify-content-center">
            <p-button
              (onClick)="exportPacientesToCsv()"
              icon="pi pi-clock"
              label="Exportar CSV"
            ></p-button>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>

  <p-dialog
    header="Historia Clinica"
    [modal]="true"
    [(visible)]="visibleHistoria"
    [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  >
    @if (visibleHistoria) {
    <app-ver-historia-clinica
      [paciente]="pacienteSeleccionado"
    ></app-ver-historia-clinica>
    }
  </p-dialog>
</div>
