<!-- users.component.html -->

<div class="container" [ngClass]="{ centered: action.label !== 'Crear' }">
  <div class="card">
    <!-- Menú de acciones -->
    <div class="header">
      <p-tabMenu
        [activeItem]="action"
        [model]="itemsAction"
        (activeItemChange)="onActionChange($event)"
      >
      </p-tabMenu>
    </div>

    <!-- Menú de roles -->
    <div class="sub-header">
      <p-tabMenu
        [activeItem]="role"
        [model]="itemsRole"
        (activeItemChange)="onRoleChange($event)"
      >
      </p-tabMenu>
    </div>

    <!-- Contenido dinámico -->
    <div class="content">
      <!-- Vista de creación -->
      <div *ngIf="action.label === 'Crear'">
        <div class="form-container">
          <ng-container [ngSwitch]="role.label">
            <app-form-register-paciente
              *ngSwitchCase="'paciente'"
              (onRegister)="onRegister($event)"
            >
            </app-form-register-paciente>

            <app-form-register-especialista
              *ngSwitchCase="'especialista'"
              (onRegister)="onRegister($event)"
            >
            </app-form-register-especialista>

            <app-form-register-admin
              *ngSwitchDefault
              (onRegister)="onRegister($event)"
            >
            </app-form-register-admin>
          </ng-container>
        </div>
      </div>

      <!-- Vista de listado -->
      <div *ngIf="action.label !== 'Crear'">
        <div class="table-container">
          <p-table
            [value]="users"
            [style]="{ 'min-width': '50rem' }"
            class="p-datatable-sm p-datatable-striped"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Foto</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Edad</th>
                <th>Email</th>
                <th *ngIf="role.label === 'especialista'">Especialidades</th>
                <th *ngIf="role.label === 'especialista'">Habilitar</th>
                <th *ngIf="role.label === 'paciente'">Obra Social</th>
                <th *ngIf="role.label === 'paciente'">Foto 2</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-user>
              <tr>
                <!-- Imagen de perfil -->
                <td class="profile-image">
                  <img
                    [src]="user.imagenPerfil"
                    alt="foto-perfil"
                    style="width: 40px; height: 40px"
                  />
                </td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.dni }}</td>
                <td>{{ user.edad }}</td>
                <td>{{ user.email }}</td>

                <!-- Campos condicionales para especialistas -->
                <td *ngIf="user.role === 'especialista'">
                  {{ user.especialidades }}
                </td>
                <td *ngIf="user.role === 'especialista'">
                  <p-button
                    [label]="user.estaHabilitado ? 'Deshabilitar' : 'Habilitar'"
                    [icon]="
                      user.estaHabilitado ? 'pi pi-arrow-down' : 'pi pi-check'
                    "
                    [ngClass]="
                      user.estaHabilitado
                        ? 'p-button-danger'
                        : 'p-button-success'
                    "
                    (onClick)="
                      user.estaHabilitado ? deshabilitar(user) : habilitar(user)
                    "
                  >
                  </p-button>
                </td>

                <!-- Campos condicionales para pacientes -->
                <td *ngIf="user.role === 'paciente'">{{ user.obraSocial }}</td>
                <td *ngIf="user.role === 'paciente'">
                  <img
                    [src]="user.imagenPerfilAux"
                    alt="foto-perfil-aux"
                    style="width: 40px; height: 40px"
                  />
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
