<div>
    <p-dropdown
      [options]="especialidades"
      [(ngModel)]="especialidadSeleccionada"
      placeholder="Seleccione una especialidad"
      optionLabel="label"
      styleClass="my-dropdown"
    ></p-dropdown>
    <p-button
      (onClick)="descargarAtencionesPorEspecialidad()"
      label="Descargar Atenciones"
      icon="pi pi-download"
      styleClass="my-button"
      [disabled]="!especialidadSeleccionada"
    ></p-button>
  </div>

<p-accordion>
  @if (turnos.length > 0) { @for (turno of turnos; track $index) {
  <p-accordionTab [header]="turno | turnoHeader">
    <div>
      <div>
        <h2>Datos Fijos</h2>
        <p>Altura: {{ turno.historiaClinica?.altura }}</p>
        <p>Temperatura: {{ turno.historiaClinica?.temperatura }}</p>
        <p>Peso: {{ turno.historiaClinica?.peso }}</p>
        <p>Presión: {{ turno.historiaClinica?.presion }}</p>
      </div>
      @if (turno.historiaClinica!.datosDinamicos.length > 0) {
      <div>
        <h2>Datos Dinámicos</h2>
        @for (dato of turno.historiaClinica!.datosDinamicos; track $index) {
        <p>{{ dato.clave }}: {{ dato.valor }}</p>
        }
      </div>
      }
      <p-button
        (onClick)="generateHistoriaClinicaPdf(turno.historiaClinica!)"
        icon="pi pi-file-pdf"
        label="Exportar Historia Clínica"
        styleClass="my-button"
      ></p-button>
    </div>
  </p-accordionTab>
  } } @else {
  <p>
    Parece que no tienes historia clínica, espera a que los médicos la rellenen.
  </p>
  }
</p-accordion>
